/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg: #0B0F1A;
    --secondary-start: #121826;
    --secondary-end: #1B2436;
    --accent: #D4A85A;
    --accent-soft: #C89B5A;
    --card-bg: #1E2A3A;
    --border: #B8924F;
    --text-primary: #FFFFFF;
    --text-secondary: #C5C9D3;
    --divider: #2A3446;
}

/* BODY */
body {
    background: var(--primary-bg);
    color: var(--text-secondary);
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: rgba(18, 24, 38, 0.7);
    backdrop-filter: blur(10px);
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0 10%;
}

/* IMAGE */
.hero-image img {
    width: 300px;
    border-radius: 20px;
    filter: grayscale(100%);
}

/* CONTENT */
.hero-content {
    max-width: 500px;
}

.hero h1 {
    font-size: 40px;
    color: white;
}

.hero span {
    color: var(--accent);
}

.subtitle {
    margin: 10px 0;
}

/* BUTTONS */
.btn {
    padding: 10px 20px;
    margin: 5px;
    background: var(--accent);
    color: black;
    border-radius: 20px;
    text-decoration: none;
}

.btn:hover {
    background: var(--accent-soft);
}

.icon-btn {
    padding: 10px;
}

/* GLASS EFFECT */
.section {
    padding: 100px 20px;
    text-align: center;
    backdrop-filter: blur(10px);
}

/* FADE ANIMATION */
.fade {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.6s;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}

.overlay {
    pointer-events: none;
}